div.breed-page {
    
}

h1 {
    text-transform: capitalize;
}

ul.breed-images {
    list-style-type: none;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}
ul.breed-images > li > img{
    margin: 5px;
    object-fit: cover;
    width: 300px;
    height: 337px;
}