div.breed h1 {
    text-align: center;
}

div.breed > div.breed-name {
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 25px;
    color: blue;
}
div.breed > div.breed-name::before,
div.breed > div.breed-name::after {
    content: '"'
}