div.game-welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
}
div.game-welcome-page p {
    flex: 1;
    margin: 0;
    max-width: 500px;
}
div.game-welcome-page ol {
    max-width: 500px;
}
div.game-welcome-page ol > li {
    font-size: 1.0em;
}
div.game-welcome-page button {
    font-size: 1.4em;
    padding: 10px 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    transition: .2s linear;
}
div.game-welcome-page button:hover {
    cursor: pointer;
    background-color: rgb(32, 187, 32);
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(20, 67, 168);
    border-radius: 50px;
}
div.game-welcome-page a {
    margin-top: 10px;
    color: black;
}