
.answerField {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.answerButton {
    text-transform: capitalize;
    background-color: lightblue;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.answerButton:hover,
.answerButton:focus {
    background-color: rgb(137, 189, 206);
    box-shadow: 2px 2px 5px rgb(160, 160, 160);
}