div.game-over-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;  
}
div.game-over-page h1 {
    color: red;
}
div.game-over-page h1::before {
    content: '*** ';
}
div.game-over-page h1::after {
    content: ' ***';
}
div.game-over-page h2 {
    color: orange;
}
div.game-over-page p {
    flex: 1;
    margin: 0;
    max-width: 500px;
}
div.game-over-page button.game-restart {
    margin-top: 10px;
    font-size: 1.4em;
    padding: 10px 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    transition: .2s linear;
}
div.game-over-page button.game-restart:hover {
    cursor: pointer;
    background-color: rgb(69, 69, 253);
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgb(20, 67, 168);
    border-radius: 50px;
}
div.game-over-page a {
    margin-top: 10px;
    color: black;
}